*{
    margin:0;
    padding: 0;
}
a:hover,a:focus{
        box-shadow: 0 0 0 #fff;
      }
body{
    font-family: "微软雅黑";
    width:100%;
    font-size: 62.5%;
   header {
    position: fixed;
    width: 96%;
    display: flex;
    padding: 3% 2%;
    align-content: center;
    background: #F58611;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.4rem;
    .h_left {
    width: 20%;
    text-align: left;
   a{
    text-decoration: none;
    color: white;
    }
}
.h_center {
    width: 70%;
    text-align: center;
    p {
    margin: 0;
}
}
.h_right {
    width: 10%;
    text-align: right;
}
}
.header{
    position: relative;
    z-index: -1;
}
.l_banner{
    padding-top:4vh;
    width:100%;
    background:#F6F6F6;
    a{
        text-decoration: none;
        img{
        width:100%;
        text-align: center;
    }
    }
    a:hover,a:focus{
          box-shadow: 0 0 0 #fff;
      }
    
}
.l_dao{
    background:#F6F6F6;
    width:100%;
    padding-top:2vh;
    padding-bottom: 2vh;
    div{
        width:90%;
        margin:0 auto;
        display: flex;
        font-size: 1rem;
        .l_left{
             width:80%;
            display: inline-block;
           text-align: left;
        }
        .l_right{
            display: inline-block;
            width:20%;
            text-align: right;
        }
    }
}
.bottom{
        width: 96%;
        margin: 0.8rem 2%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #CCCCCC;
        .b_left{
            width: 30%;
            a{
                width: 100%;
                img{
                    width:100%
                }
            }
        }
        .b_center{
            width: 50%;
            p{
                font-size: 1rem;
                margin-top: 0;
                margin-bottom: 2px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                .name{
                    color: #7B7B7B;;
                }
                .big{
                    color: #888888;
                }
                .con{
                    color: #2FB74F;
                }
            }
        }
        .b_right{
           width: 16%;
           a{
               color: #F58611;
           }
        }
    }

}