* {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    background: #F6F6F6;
}
a {
    text-decoration: none;
}
a:hover,
a:focus {
    box-shadow: 0 0 0 #fff;
}
.head {
    width: 100%;
    display: flex;
    padding: 3% 2%;
    align-content: center;
    background: #F58611;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.4rem;
}
.header {
    position: fixed;
    top: 0;
    .h_right {
        a {
            color: #fff;
        }
    }
}
.head .h_left {
    width: 20%;
    text-align: left;
    a {
        color: #fff;
    }
}
.head .h_left select {
    border: 0;
    background: transparent;
    color: #fff;
}
.head .h_center {
    width: 70%;
    text-align: center;
}
.head .h_center p {
    margin: 0;
}
.head .h_right {
    width: 20%;
    text-align: right;
}
.mispwd_item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
    .item {
        width: 100%;
        padding: 0 3%;
        display: flex;
        height: 4rem;
        line-height: 4rem;
        justify-content: space-between;
        align-content: center;
        border-bottom: 1px solid #F6F6F6;
        .item_left {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            line-height: 4rem;
            input {
                width: 100%;
                box-shadow: 0 0 0 #fff;
                border: none;
                height: 2rem;
                margin-top: 1rem;
            }
        }
        .item-right {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            a {
                border: 1px solid #F58611;
                height: 3rem;
                line-height: 3rem;
                margin-top: 0.5rem;
                padding: 0 0.8rem;
                border-radius: 0.6rem;
                color: #F58611;
            }
        }
    }
    .next {
        width: 100%;
        padding: 0.4rem 3%;
        display: flex;
        height: 4rem;
        justify-content: space-between;
        align-content: center;
        border-bottom: 1px solid #F6F6F6;
        a {
            width: 100%;
            padding: 1rem 0;
            background: #F58611;
            color: #fff;
            line-height: 1.4rem;
            text-align: center;
            border-radius: 0.4rem;
            text-decoration: none;
        }
    }
}
.success {
    width: 100%;
    text-align: center;
    margin-left: -50%;
    position: relative;
    left: 50%;
    top: 3rem;
    span {
        width: 100%;
        img {
            width: 30%;
        }
    }
    a {
        color: #888888;
    }
    p {
        color: #666666;
        font-size: 1.4rem;
    }
}
/*mycollect*/
.shoucang {
    width: 100%;
    padding: 0.6rem 2%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    .b_left {
        width: 27%;
        a {
            width: 100%;
            text-decoration: none;
            img {
                width: 100%;
                display: block;
            }
        }
    }
    .b_center {
        width: 53%;
        p {
            width: 100%;
            margin-top: 0;
            margin-bottom: 2px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            a {
                width: 100%;
                text-decoration: none;
            }
            .name {
                color: #7B7B7B;
            }
            .big {
                color: #888888;
            }
            .con {
                color: #2FB74F;
            }
        }
    }
    .b_right {
        width: 16%;
        text-align: right;
        a {
            color: #fff;
            span {
                background: #cccccc;
                padding: 0.3rem 0.4rem;
            }
        }
        a:hover,
        a:focus {
            box-shadow: 0 0 0 #fff;
        }
    }
}
/*aboutus*/
.aboutus {
    width: 100%;
    display: flex;
    a {
        width: 100%;
        display: flex;
        color: #888888;
        padding: 0.6rem;
        text-decoration: none;
        .a_left {
            width: 90%;
            color: #888888;
            p {
                margin: 0;
            }
        }
        .a_right {
            width: 10%;
            text-align: right;
            color: #888888;
        }
    }
}
/*myGeneralize*/
.myGeneralize {
    background: #ffffff;
    width: 100%;
    position: relative;
    .my {
        width: 100%;
        display: flex;
        padding: 3%;
        align-content: center;
        justify-content: space-between;
        .c_left {
            width: 90%;
            display: flex;
            align-content: center;
            span {
                width: 7rem;
                height: 7rem;
                font-size: 4.4rem;
                background: #F6F6F6;
                color: #E1E1E1;
                border-radius: 50%;
                text-align: center;
                line-height: 7rem;
            }
            p {
                margin: 0 0 0 10px;
                font-size: 1.2rem;
                line-height: 7rem;
                color: #666666;
            }
        }
        .c_right {
            width: 10%;
            text-align: right;
            line-height: 7rem;
            a {
                color: #888888;
            }
        }
    }
    .xian {
        width: 100%;
        height: 0.8rem;
        background: #f0f0f0;
    }
    .sheng {
        width: 100%;
        padding: 1.2rem 3%;
        display: flex;
        height: 6rem;
        justify-content: space-between;
        align-content: center;
        a {
            width: 100%;
            padding: 1rem 0;
            background: #F58611;
            color: #fff;
            line-height: 1.6rem;
            text-align: center;
            border-radius: 0.4rem;
            text-decoration: none;
        }
    }
    .tips {
        width: 100%;
        background: #fff;
        color: #777777;
        .l_dao {
            width: 100%;
            display: flex;
            padding: 0.6rem 0.6rem 0.6rem 0;
            border-bottom: 1px solid #DFDFDF;
            justify-content: space-between;
            a {
                float: right;
                color: #888888;
                text-decoration: none;
                b {
                    color: #F58611;
                }
            }
        }
        .l_dao span {
            font-size: 1.2rem;
            padding-left: 4vw;
            display: inline-block;
            border-left: 0.5rem solid #FD9301;
        }
        .con {
            width: 100%;
            padding: 3%;
            color: #888888;
        }
        .content {
            width: 100%;
            display: flex;
            ul {
                width: 100%;
                margin: 0;
                li {
                    width: 100%;
                    text-align: center;
                    list-style: none;
                    padding: 0.3rem 0;
                    color: #333333;
                    border-bottom: 1px solid #f0f0f0;
                }
                li:first-child {
                    background: #EFEFEF;
                    color: #A18888;
                }
            }
        }
    }
}
.myPact {
    width: 100%;
    padding: 3%;
    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            width: 31%;
            margin-bottom: 3%;
            text-align: center;
            img {
                width: 100%;
            }
            span {
                font-size: 2.8rem;
                color: #DDDDDD;
                padding-top: 1.8rem;
                display: block;
            }
            p {
                margin: 0;
                color: #888888;
            }
        }
        li:last-child {
            border: 1px dashed #DDDDDD;
        }
    }
}
/*remainningSum*/
.remainningSum {
    width: 100%;
    background: #fff;
    .yu {
        width: 100%;
        padding: 3%;
        display: flex;
        .y_left {
            width: 50%;
            color: #333333;
            span {
                color: #F58611;
            }
        }
        .y_right {
            width: 100%;
            text-align: right;
            a:first-child {
                padding: 0.4rem 0.8rem;
                border: 1px solid #3FC026;
                color: #3FC026;
                border-radius: 0.4rem;
                text-decoration: none;
            }
            a:last-child {
                padding: 0.4rem 0.8rem;
                border: 1px solid #F58611;
                color: #F58611;
                border-radius: 0.4rem;
                text-decoration: none;
            }
        }
    }
    .xian {
        width: 100%;
        height: 0.8rem;
        background: #f0f0f0;
    }
    .nav {
        width: 100%;
        display: flex;
        border-bottom: 1px solid #f0f0f0;
        position: relative;
        a {
            width: 50%;
            text-align: center;
            padding: 0.6rem;
            color: #888888;
            text-decoration: none;
        }
        a.on {
            color: #F58611;
        }
        .onxian {
            width: 50%;
            height: 0.1rem;
            background: #F58611;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 999;
            transition: all 0.5s;
        }
    }
}
.plus,
.subtract {
    width: 100%;
    background: #fff;
    .con {
        width: 100%;
        display: flex;
        padding: 3%;
        border-bottom: 1px solid #f0f0f0;
        .c_left {
            width: 60%;
            p {
                margin: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #888888;
            }
        }
        .c_right {
            width: 40%;
            text-align: right;
            span {
                color: #F58611;
            }
        }
    }
}
.discountCoupon {
    background: #fff;
    width: 100%;
    .nav {
        width: 100%;
        display: flex;
        border-bottom: 1px solid #f0f0f0;
        position: relative;
        a {
            width: 33.333%;
            text-align: center;
            padding: 0.6rem;
            color: #888888;
            text-decoration: none;
        }
        a.on {
            color: #F58611;
        }
        .onxian {
            width: 33.333%;
            height: 0.1rem;
            background: #F58611;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 999;
            transition: all 0.5s;
        }
    }
}
.unused,
.lost,
.convert {
    width: 100%;
    padding: 3%;
    background: #fff;
    .con {
        width: 100%;
        border: 1px solid #F58611;
        border-radius: 0.4rem;
        margin-bottom: 3%;
        overflow: hidden;
        .top {
            width: 100%;
            height: 0.6rem;
            background: #F58611;
        }
        .bottom {
            width: 100%;
            display: flex;
            height: 4rem;
            .b_left {
                width: 20%;
                border-right: 1px dashed #888888;
                display: flex;
                align-content: center;
                line-height: 2rem;
                p {
                    width: 100%;
                    text-align: center;
                    color: #333;
                    span {
                        font-size: 2rem;
                        margin-top: -0.4rem;
                    }
                }
            }
            .b_right {
                width: 80%;
                line-height: 2rem;
                padding-left: 0.8rem;
                position: relative;
                p {
                    margin: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                a {
                    background: #F58611;
                    color: #fff;
                    border-radius: 0.4rem;
                    line-height: 2rem;
                    padding: 0 0.8rem;
                    position: absolute;
                    right: 0.4rem;
                    top: 1rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: inherit;
                }
            }
        }
    }
}
.lost>.con,
.convert>.con {
    border: 1px solid #D2D2D2;
    .top {
        background: #D2D2D2;
    }
    .bottom {
        .b_left,
        .b_right {
            p {
                color: #d2d2d2;
                span {
                    color: #d2d2d2;
                }
            }
            border-color: #d2d2d2;
        }
    }
}